
/* RESETTING */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    resize: none;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    background-image: url(../images/aKid.jpg);
    background-position: fixed;
    background-size: auto 100%;
}

header, main, footer, img, input, textarea{
    width: 100%;
}

img{
    height: 100%;
}

button{
    cursor: pointer;
}

header, footer{
    position: relative;
    background-color: #01010a;
    text-align: center;
    padding: 0.5em 1.4em;
    min-height: 15vh;
}

input, textarea{
    padding: 0.2em 0.5em;
    font-size: 1em;
    text-align: justify;
}

/*  GROUPING BY DISPLAY TYPE */
header, .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  GROUPING BY FONT-SIZE */
h2{
    font-size: 1.4em; 
    color: whitesmoke; 
    padding: 0.3em; 
    margin: 0.1em;
}

p{
    font-size: 1em; 
    color: whitesmoke; 
    margin: 0.5em auto;
    word-wrap: break-word;
    text-align: justify;
}

/*  PARENT PAGE */

#logo{
    color: whitesmoke;
    font-size: 1.5em;
    font-style: bold;
}

.form, #menu-form{
    display: none;
    justify-content: center;
    width: 25%;
}

/*  conteiner div */
.conteiner{
    display: flex;
}
.main-content{
    padding: 1em 1.4em;
    width: 100%;
    margin: auto;
}


/*  TOGGLE */
.toggle{
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 2em;
    /* padding: 0; */
    text-align: center;
    background-color: rgba(255, 99, 71, 0);
}


/*  SIDE MENU   */
#side-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #01010a;
    color: white;
    transition: 1s;
    overflow: hidden;
    text-align: justify;
    z-index: 1;
}

#side-menu ul{
    margin-top: 4em;
}

#side-menu h2{
    text-align: center;
    color: white;
    white-space: nowrap;
}

#side-menu li{
    margin: 0.4em 0.3em;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
}
#side-menu li:hover{
    transition: 0.6s;
    background-color: teal;
}

#side-menu a{
    color: white;
    display: inline-flex;
    white-space: nowrap;
}

#icon, #title{
    line-height: 1em;
    font-size: 1em;
    margin: auto 1em;
}

#title{
    margin: auto;
}

#menu-form{
    width: 180px;
    display: inline-flex;
    margin: auto 1em;
    font-size: 1em;
}
#menu-form input{
    border-radius: 0.3em 0 0 0.3em;
}
#menu-form button{
    padding: 0.3em 0.5em;
    border-radius: 0 0.3em 0.3em 0;
    color: #01010a;
    background-color: whitesmoke;
}



/* aside section */
aside{
    display: none;
}

/*  INDEX PAGE */
.cards{
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.card{
    width:350px;
    text-align: center;
    height: 350px;
    padding: 0.5em;
    margin: 1em;
    box-shadow: 1px 1px 4px rgba(15, 9, 65, 0.5);
    border: 1px solid rgba(75, 71, 71, 0.4);
    background: rgba(2, 0, 8, 0.7);
}

.card:hover > h2{
    background-color: teal;
    transition: 1s;
}

.text{
    margin-top: 0.5em;
    height: 15%;
    overflow: hidden;
}
.card-image{
    margin-top: 1em;
    height: 60%;
    width: 100%;
}

.h1{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em auto;
}

#contact{
    display: none;
    transition: 1s;
    text-align: center;
    background-color: rgba(6, 3, 41, 0.4);
}

#contact input, #contact textarea{
    margin: 0.5em auto;
    border-radius: 0.3em;
}

#contact button{
    width: 40px;
    text-align: center;
    padding: 0.3em;
    margin: 0.3em auto;
    border-radius: 0.3em;
}

.header-menu{
    display: none;
}


@media screen and (max-width: 780px) {

    table{
        color: white; 
        width: 100%;
    }
    
    thead{
        display: none;
    }
    tr{
        margin: 20px 0;
        background-color: #283747;
    }
    
    tr:nth-child(4){
        color: rgb(0, 70, 0);
    } 
    
    tr:hover{
        background-color: #154360;
        transition: 0.6s;
    }

    td:nth-child(1){
        background-color:  #641e16;
        font-size: 1em;
        margin: 0 auto;
    }
    td{
        display: block;
        font-size: 12px;
        padding: 5px 15px;
        margin: 5px auto;
        word-wrap: break-word;
    }

    td a{
        color: #5d6d7e;
    }

        
}


@media screen and (min-width: 780px){
    .header-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(2, 15, 22);
        padding: 0.6em 1em;
    }
    .header-menu a{
        color: whitesmoke;
    }

    .header-menu li{
        padding: 0.2em 1em;
    }

    .header-menu li:hover{
        transition: 0.6s;
        background-color: teal;
        border-radius: 0.3em;
    }
    .main-content{
        width: 85%;
        padding: 2em 1em;
    }
    .form{
        display: inline-flex;
    }
    .form input{
        width: 85%;
        border-radius: 0.3em 0 0 0.3em;
    }
    
    .form button{
        padding: 0.2em 0.4em;
        font-size: 1em;
        width: 15%;
        border-radius: 0 0.3em 0.3em 0;
        color: #01010a;
        background-color: whitesmoke;
    }

    .card{
        width: 300px;
        height: 350px;
    }

    aside{
        font-size: 14px;
        display: block;
        padding: 3em 1em;
        text-align: center;
        background-color: #01010aa2;
    }

    aside input, aside textarea{
        border-radius: 0.3em;;
    }

    aside h2{
        margin-bottom: 1em;
    }

    aside button{
        width: 50%;
        text-align: center;
        padding: 0.5em;
        margin: 1em auto;
        border-radius: 0.3em;
    }

    .identifier{
        text-align: left;
        margin-top: 1em;
    }


    /*  DB_CSS */
    .table{
        width: 100%;
    }
    .table table{
        font-size: 14px;
        border-collapse: collapse;
        box-shadow: 0px 15px 35px 1px #38383b7c;
        text-align: left;
        table-layout: fixed;
        width: 100%;
        color: whitesmoke;
        background-color: #01010a;
    }

    .table table thead{
        box-shadow: 0px 3px 3px #010007;
        padding: 1ren;
    }

    th{
        letter-spacing: 0.4rem;
        padding: 0.4rem 1rem;
        text-align: center;
    }

    th, td:nth-child(1){
        background-color: rgb(2, 15, 22);
    }

    tr{
        padding: 0.2rem 1rem;
        box-shadow: 0px 4px 4px #2c2c2cbd;
        text-align: left;
    }
    tr:hover{
        background-color: #0e66548e;
        transition: 0.5s;
    }

    td, th{
        border-right: 2px solid #1d1c1c;
        padding: 0.5rem;
        word-wrap: break-word;
        font-size: 13px;
    }

    td a{
        color: #107cbe;
    }

    thead th:nth-child(1){
        width: 6%;
    }

    thead th:nth-child(2){
        width: 50%;
    }

    thead th:nth-child(3){
        width: 14%;
    }

    thead th:nth-child(4){
        width: 12%;
    }

    thead th:nth-child(5){
        width: 15%;
    }

    thead th:nth-child(6){
        width: 13%;
    }

    .active{
        color: green;
    }

    .sleep{
        color: orange;
    }

    .dead{
        color: red;
    }

}




footer p{
    text-align: center; 
    color: white;
}
footer a{
    color: dodgerblue;
}
#h-foot, #h-card{
    border: 1px solid rgba(61, 70, 73, 0.3);
    margin-top: 0.5em;
}

.copyright{
    display: inline-flex;
    font-size: 0.8em;
}