<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
            crossorigin="anonymous"
        />
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <!-- <figure id="logo">
                <a href="/home"><img src="{{url_for('static', filename='images/logo1.png')}}" alt=""></a>
            </figure> -->
            <a href="/home" id="logo">T-FINDER</a>
            <form class="form" action="#" method="POST">
                <input type="text" name="user_input">
                <button><i class="fas fa-search"></i></button>
            </form>
            <button class="toggle" onclick="open_side_menu(this)">&#9776;</button>
        </header>

        <ul class="header-menu">
            <li>
                <a href="#">
                    <span id="icon"><i class="fas fa-home"></i></span>
                    <span id="title">HOME</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span id="icon"><i class="fas fa-sign-in-alt"></i></span>
                    <span id="title">LOG-IN</span>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <span id="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span id="title">LOG-OUT</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span id="icon"><i class="fas fa-user-plus"></i></span>
                    <span id="title">CREATE ACCOUNT</span>
                </a>
            </li>
        </ul>

        <section id="side-menu">
            <ul>
                <h2>MENU</h2>
                <hr id="h-foot">
                <li>
                    <a href="#">
                        <span id="icon"><i class="fas fa-sign-in-alt"></i></span>
                        <span id="title">LOG-IN</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <span id="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span id="title">LOG-OUT</span>
                    </a>
                </li>
                

                <li>
                    <a href="#">
                        <span id="icon"><i class="fas fa-user-plus"></i></span>
                        <span id="title">CREATE ACCOUNT</span>
                    </a>
                </li>

                <li onclick="open_contact_section()">
                    <a href="#">
                        <span id="icon"><i class="far fa-question-circle"></i></span>
                        <span id="title">CONTACT US</span>
                    </a>
                </li>
                
                <li id="contact">
                    <form action="/contact" method="POST">
                        <input type="text" name="username" placeholder="minux-team" required>
                        <input type="email" name="email" placeholder="e.g: minux@team.com" required>
                        <textarea name="message" cols="20" rows="5"
                        placeholder="Let us know about your experience being here..." required></textarea>
                        <br>
                        <button><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </li>

                <li>
                    <form action="/home" id="menu-form" method="POST">
                        <input type="text" name="user_input">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </section>

        <main>
            <div class="conteiner">
                <section class="main-content">
                    <!--Main content goes here...-->

                    <!--INDEX CONTENT-->
                    {% block content %}{% endblock %}
                    <!--DATA_BASE-->

                    <!--ERROR PAGE-->
                </section>
                <aside>
                    <h2>CONTACT US</h2>
                    <form action="/contact" method="POST">
                        <p class="identifier">Username</p>
                        <input type="text" name="username" placeholder="minux-team" required>
                        <p class="identifier">email</p>
                        <input type="email" name="email" placeholder="e.g: minux@team.com" required>
                        <p class="identifier">Message</p>
                        <textarea name="message" cols="20" rows="5"
                        placeholder="Let us know about your experience being here..." required></textarea>
                        <br>
                        <button><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </aside>
            </div>
        </main>

        <footer>
            <p>Developed by: <a href="#">Minux-Team</a></p>
            <!-- <hr id="h-foot"> -->
            <div class="copyright">
                <p>&#169;</p><p>copyright</p>
            </div>
        </footer>

        <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
    </body>
</html>