<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" 
			rel="	stylesheet"> 
	<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/db.css')}}">

</head>
<body>
	<header>
		<a class="logo" href="/home">Minux-Dev</a>
		<div class="search">
			<form action="/home" method="post">
				<input type="search" name="user_input" placeholder="Search Here!"
				autocomplete="true" spellcheck="true">
				<button type="submit" name="go">GO</button>
			</form>
		</div>
		<nav>
			<ul>
				<li><a href="#">Log In</a></li>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">API' Documentation</a></li>
			</ul>
		</nav>
	</header>

	<main>
		{% block content %}{% endblock %}
	</main>

	<footer>
		<p>Developers: <a href="#">Minux-Team</a></p><br>
		<hr>
	</footer>
</body>
</html>