{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="cards">
    <div class="card">
        <h2>Movies</h2>
        <hr id="h-card">
        <p>Dive in to get the latest movies in the industry.</p>
        <figure class="card-image">
            <a href="/movies">
                <img src="{{url_for('static', filename='images/movie.jpeg')}}" alt="Movie image">
            </a>
        </figure>
    </div>
    
    <div class="card">
        <h2>TV Show</h2>
        <hr id="h-card">
        <p>Download the most recent releases of your favourite TV Shows episodes.</p>
        <figure class="card-image">
            <a href="/tv_show">
                <img src="{{url_for('static', filename='images/serie.jpg')}}" alt="TV Show image">
            </a>
        </figure>
    </div>
    
    <div class="card">
        <h2>Games</h2>
        <hr id="h-card">
        <p>Here is where the gamers show their smiles.</p>
        <figure class="card-image">
            <a href="/games">
                <img src="{{url_for('static', filename='images/gaming.jpg')}}" alt="Game Image">
            </a>
        </figure>
    </div>
</div>
    
    

{% endblock %}