{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="conteiner">
    <div class="form">
        <form action="/minuxdb" method="POST">
            <input type="search" name="search">
            <button type="submit" name="btn">ICON</button>
        </form>
    </div>
    <nav class="category">
        <div class="cards">
            <h2>Latest Movies</h2>
            <p>Download the most recent movies</p>
            <div class="img">
                <a href="/movies">
                <img class="img" src="{{url_for('static', filename='images/movies1.jpg')}}" 
                alt="Recent Relieses"></a>
            </div>
        </div>
        <div class="cards">
            <h2>Latest TV Shows</h2>
            <p>Download the most recent episodes of your<br> favorite Tv Show Season</p>
            <div class="img">
                <a href="/show/">
                <img class="img"  src="{{url_for('static', filename='images/tv_show1.jpg')}}" 
                alt="Recent Relieses"></a>
            </div>
        </div>
        <div class="cards">
            <h2>Latest Games</h2>
            <p>Download the most recent games in the industry</p>
            <div class="img">
                <a href="/games/">
                <img src="{{url_for('static', filename='images/games1.jpg')}}"
                alt="Recent Relieses"></a>
            </div>
        </div>
        
        
    </nav>
</div>

{% endblock %}